.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100%;
  overflow: auto;
}

.appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  font-weight: bold;
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  color: #F4EEE0;
  background: linear-gradient(#39364689, #614b62);
}

.contentTime {
  display: flex;
  align-items: center;
  gap: .5rem;
}
