.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.title {
  text-align: center;
  color: #393646;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.textDetails {
  color: #4F4557;
  text-align: center;
  font-weight: bold;
}