.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
}

.title {
  color: #393646;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.subtitle {
  color: #4F4557;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.button {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #4F4557;
  color: #FFF2F2;
  padding: 1rem 1.3rem;
  border: .1rem solid #6D5D6E;
  box-shadow: .1rem .1rem .3rem #00000087;
  border-radius: .5rem;
  transition: .5s;
}
 .button:hover {
  color: #393646;
  background-color:  #FFF2F2;
  border: .1rem solid #4F4557;
  box-shadow: .1rem .1rem .5rem #0000009d;
}
